@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Ticket Warrior</h1>
        <h3>We slay the middleman and fight to get your tickets.</h3>
        @Html.ActionLink("Buy Tickets", "RsvpForm")
    </div>
</body>
</html>
